// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#app {
  height: calc(100vh - 63px);
}

.navbar-brand {
  color: #5e2195 !important;
}

nav.navbar {
  box-shadow: 0 8px 10px -10px rgba(94, 33, 149, 0.7) !important;
}
